html, body{
	color: #8B8378;
	height: 100%;
}

body {
	font: 6px/26px 'RalewayThin', Arial, sans-serif;
	background-image: url(/static/images/bg.png); 
	background-position: left top;
	background-repeat: repeat
}

#header-container {
	height: 8em;
	background: #8B8378;
	padding: 10px;
	margin: -10px;
	-webkit-box-shadow:0 5px 10px #aaa;
	-moz-box-shadow:0 5px 10px #aaa;
	box-shadow:0 5px 10px #aaa;
	border-bottom: 1em solid #01C5BB;
}

#header-container a {
	text-decoration:none;
	color: white;
}

#title{ color:white; font:'Lobster1.1Regular', Arial, sans-serif; }

.wrapper {
	margin:0 auto;
	width:90%;
}

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0;}

nav li:first-child a{ margin-left:0; }
nav li:last-child a{ margin-right:0; }

#admin a {
	background: white;
	color: #8B8378;
}

h1 {
	margin: 0;
}

#main-container {
	width: 100%;
	height: 90%;
}

#front-and-center {
    width: 50%;
    margin-top: 25%;
    margin-left: 33%;
}

/* the calendar results after a request */

#mycalendar table{
	font-size: 13px;
    margin-top: 20px;
	width: 100%; 
    margin-bottom: 20px;
    border: none;
}

#mycalendar td {	
    height: 1px;
    width: 10px;
    background: white;
    border-right: dashed 1px #a8b6b3;
    text-align: right;
}

#mycalendar th{
	font-size: 10px;
	padding: 0px 10px;
}

#mycalendar .doesOverlap {
    background-color: #F15B47;
}

.chunk-td {
    margin: 0px;
    background: white;
    border-bottom: none;
    border-right: dashed 1px #a8b6b3;
}

.hour-line {
    border-top: solid #F15B47 1.5px;
}

.quarter-hour-line {
    border-top: dotted #a8b6b3 1px;
}

#calendar-table {
    border: solid 3px #a8b6b3;

}

.ui-icon {
    display: inline-block;
}

#main-form select option {
    background-color: white;
	color: #8B8378;
}

#main-form #id_also_include {
    display: inline-block;
    width: 200px;
    height: 100px;
}

#main-form #id_dont_include {
    display: inline-block;
    width: 200px;
    height: 100px;
}

.displayInline {
    display: inline-block;
}


ul.possible_sched {
	list-style-type: none;		
}

ul.possible_sched li{
	padding: 10px 0;
}


table.possible_sched {
	width: 500px;
}


.room-interview-name {
	border-bottom: none;
	font-size: 12pt;
	font-weight: bold;
	width: 200px;
	text-align: left;
}

.room-interview-time {
	border-bottom: dashed 1px #DDD;
	font-size: 12pt;
	width: 200px;
	text-align: left;
}

.schedule-interview-time {
    margin-right: 15px;
	width: 200px;
	color: #F15B47;
	text-align: right;
}

.schedule-interview-name {
	width: 285px;
	padding: 0px 20px;
	text-align: left;
}

.fsSubmitButton
{
	border-top:			none;
	border-left:		none;
	border-right:		none;
	border-bottom:		none;
	padding:		10px 20px !important;
	font-size:		14px !important;
	background-color: #8B8378;
	color: white;

}


.id_requisition {
	font-size: 10px;
}



/* ============
   JONATHAN's CSS
   ============ */

/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css - (Ashley thanks you)
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0;  }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Initializr Styles =====================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template <3 <3 <3 HIM!!!!
   ========================================================================== */


.wrapper{
	width:90%;
	margin:0 5%;
}

/* ===================
    ALL: Colors
   =================== */

#main aside{ 
	border-top:20px solid #daf3ed;
	background:#808080;
}

::-moz-selection { background: #84bdbd; color: #fff; text-shadow: none; }
::selection      { background: #84bdbd; color: #fff; text-shadow: none; }

/* ==============
    MOBILE: Menu
   ============== */

nav a{
	height: 19%;
	display:block;
	margin-bottom: 5px;
	padding: 2px 0 0 0 ;
	background: #01C5BB;
	color: white;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	font-size: 14;
}

/* ==============
    MOBILE: Main
   ============== */

#main{
	padding:30px 0;
}

#main article h1{
	font-size: 2em;
	width: 100%;
}

#main article{
	width: 150%;
	background: white;
	margin: 0 0 0 0;
	padding: 1em;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#main aside{
	color:white;
	padding:0px 5% 10px;
}

#footer-container footer{
	color:white;
	padding:20px 0;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 #title{ padding-top:20px; }



/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
	
	nav a{
		float: left;
		width: 19%;
		height: 20%;
		margin: 4% 1%;
		padding: 10px 2%;
		margin-bottom:0;
	}
	
	nav li:first-child a{ margin-left:0;  }
	nav li:last-child  a{ margin-right:0; }
	
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

	nav ul li{
		display:inline;
	}	

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

	#header-container,
	#main aside{
		-webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;
	}

/* ============
    WIDE: Menu
   ============ */
	
	nav a{
		float:left;
		width: 19%;
		height: 20%;
		margin: 4% 1%;
		padding: 10px 2%;
		margin-bottom:0;
		text-decoration: none;
	}
	
	nav li:first-child a{ margin-left:0;  }
	nav li:last-child  a{ margin-right:0; }

	#title{
		float:left;
		margin: 2% 0 0 0;
	}
	
	nav {
		float:left;
		width: 70%;
	}

/* ============
    WIDE: Main
   ============ */

	#main article{
		float:left;
		width: 95%;
		background: white;
		padding: 1em;
		-moz-border-radius: 15px;
		border-radius: 15px;
}		
	

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

	.wrapper{
		width:1026px; /* 1140px - 10% for margins */
		margin:0 auto;
	}
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: none; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, f { page-break-after: avoid; }
}

#footer-container footer{
	padding:10px 0;
}

#footer-container{ 
	border-top: 20px solid #4CC552;
	background: #8B8378;
}
