#front-and-center {
    width: 50%;
    margin-top: 25%;
    margin-left: 33%;
}

a.header-link {
    padding: 10px;
    background-color: gray;
}

a.header-index-link {
    font-size: 20px;
    margin-right: 15%;
}

#mycalendar {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

#mycalendar .doesOverlap {
    background-color: #FF0000;
}

.chunk-td {
    width: 6px;
    margin: 0px;
    border: 0px;
}

.hour-line {
    border-left-style: solid;
    border-left-width: 1px;
    text-align: left;
}

.quarter-hour-line {
    border-left-style: dotted;
    border-left-width: 1px;

}

#calendar-table {
    border-style: solid;
    border-width: 1px;
}

.ui-icon {
    display: inline-block;
}

#main-form select option {
    background-color: #66FF99;
}

#main-form #id_also_include {
    display: inline-block;
}

#main-form #id_dont_include {
    display: inline-block;
}

.displayInline {
    display: inline-block;
}

.schedule-interview-name {
    margin-right: 15px;
}
