#main-form {
}

#main-form .type {
  margin-right: 15px;
} 

#main-form .form-sec {
  margin-bottom: 15px;
}

#main-form .form-sec .chosen-container {
  width: 250px !important;
}

#main-form input {
  border: 1px solid #aaa;
}

#main-form #date-picker,
#main-form .candidate-name {
  width: 250px;
}

.tracker-container .week {
  overflow: hidden;
}

.tracker-container .week li {
  float: left;
  width: 30px;
}
