#main-form {
  width: 350px;
  float: left;
}

#main-form .type {
  margin-right: 15px;
} 

#main-form .form-sec {
  margin-bottom: 15px;
}

#main-form .form-sec .chosen-container {
  width: 250px !important;
}

#main-form input {
  border: 1px solid #aaa;
}

#main-form #date-picker,
#main-form .candidate-name {
  width: 250px;
}

.tracker-container .week {
  overflow: hidden;
}

.tracker-top {
  position: fixed;
  z-index: 1000;
}

.tracker-container .week li {
  float: left;
  width: 30px;
}

#result {
  width: 600px;
  float: right;
}

#result .template {
  display: none;
}

.schedule-list {
  list-style-type: none;
}

.schedule-item {
  list-style-type: none;
  width: 400px;
  height: 160px;
  border: 1px solid #999;
  background: #EEE;
  padding: 10px;
  position: relative;
}

.schedule-item h4 {
  font-size: 19px;
  margin-bottom: 5px;
  color: #c41200;
}

.schedule-item .slots {
 
}

.schedule-item .chosen-container {
  width: 150px !important;
}

