<!doctype HTML5>
<html>
<head>


<link type="text/css" href="/static/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
<link type="text/css" href="/static/css/datepicker.css" rel="stylesheet" />
<link type="text/css" href="/static/css/jeeves.css" rel="stylesheet" />

<script type="text/javascript" src="/static/js/jquery-1.8.1.min.js"></script> 
<script type="text/javascript" src="/static/js/jquery-ui-1.8.23.custom.min.js"></script> 
<script type="text/javascript" src="/static/js/jquery-ui-timepicker-addon.js"></script> 
<script type="text/javascript" src="/static/js/lib.js"></script>

<!-- chosen js stylesheets -->
<link type="text/css" href="/static/js/chosenjs/docsupport/style.css" rel="stylesheet" />
<link type="text/css" href="/static/js/chosenjs/docsupport/prism.css" rel="stylesheet" />
<link type="text/css" href="/static/js/chosenjs/chosen.css" rel="stylesheet" />


{% block header_includes %}{% endblock %}

</head>
<body>
	<div id="header-container">
		<header class="wrapper clearfix">
		    <a href="/index"><h1 id="title">
				How May I Help You?
			</h1></a>
			<nav>
				<ul>
					<li> <a href="/find_times">Find Times</a></li>
					<li> <a href="/new_scheduler">Scheduler</a></li>
					<li> <a href="/tracker">Tracker</a></li>
					<li id="admin"> <a href="/admin" target="_blank">Admin</a> </li>
				</ul>
			</nav>
		</header>
	</div> <!-- #header-container -->
    
    <div id="main-container">
		<div id="main" class="wrapper clearfix">
			<article>
	 		  	{% block body %}
	    		{% endblock %}
			</article>
		</div> <!-- #main -->
	</div> <!-- #main-container -->

 	<!--<div id="footer-container">
		<footer class="wrapper">
			<p><3 Verekia</p>
		</footer>
	</div> --> <!-- #footer-container --> 

  <!-- chosen js javascripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="/static/js/chosenjs/chosen.jquery.js" type="text/javascript"></script>
  <script src="/static/js/chosenjs/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    var config = {
      '.chosen-select'           : {max_selected_options:1},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>
  <script src="/static/js/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script>
  <script src="/static/js/my_script.js" type="text/javascript"></script>
  <script src="/static/js/ColorJizz.js" type="text/javascript"></script>
  <script src="/static/js/tracker.js" type="text/javascript"></script>
</body>
</html>
