<!doctype HTML5>
<html>
<head>
<link type="text/css" href="/static/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
<link type="text/css" href="/static/css/datepicker.css" rel="stylesheet" />
<link type="text/css" href="/static/css/jeeves.css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/jquery-1.8.1.min.js"></script> 
<script type="text/javascript" src="/static/js/jquery-ui-1.8.23.custom.min.js"></script> 
<script type="text/javascript" src="/static/js/jquery-ui-timepicker-addon.js"></script> 
<script type="text/javascript">
    $(function() {
        $("#id_start_time").datetimepicker({dateFormat: "yy-mm-dd", timeFormat: "hh:mm:ss"});
    });
    $(function() {
        $("#id_end_time").datetimepicker({dateFormat: "yy-mm-dd", timeFormat: "hh:mm:ss"});
    });

    $(document).ready(function() {
        $('#id_also_include').attr('size', "10");
        $('#id_also_include').parent().css('display', 'inline-block');

        $('#id_dont_include').attr('size', "10");
        $('#id_dont_include').parent().css('display', 'inline-block');

        $('#submit-button').css('display', 'block');

    });

</script>

{% block header_includes %}{% endblock %}
</head>
<body>
	<div id="header-container">
		<header class="wrapper clearfix">
		    <a href="/index"><h1 id="title">
				How May I Help You?
			</h1></a>
			<nav>
				<ul>
					<li> <a href="/find_times">Find Times</a></li>
					<li> <a href="/scheduler">Scheduler</a></li>
					<li id="admin"> <a href="/admin" target="_blank">Admin</a> </li>
				</ul>
			</nav>
		</header>
	</div> <!-- #header-container -->
    
    <div id="main-container">
		<div id="main" class="wrapper clearfix">
			<article>
	 		  	{% block body %}
	    		{% endblock %}
			</article>
		</div> <!-- #main -->
	</div> <!-- #main-container -->

 	<!--<div id="footer-container">
		<footer class="wrapper">
			<p><3 Verekia</p>
		</footer>
	</div> --> <!-- #footer-container --> 
</body>
</html>
