<link type="text/css" href="/static/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
<link type="text/css" href="/static/css/datepicker.css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/jquery-1.8.1.min.js"></script> 
<script type="text/javascript" src="/static/js/jquery-ui-1.8.23.custom.min.js"></script> 
<script type="text/javascript" src="/static/js/jquery-ui-timepicker-addon.js"></script> 
<script type="text/javascript">
    $(function() {
        $("#id_start_time").datetimepicker({dateFormat: "yy-mm-dd", timeFormat: "hh:mm:ss"});
    });
    $(function() {
        $("#id_end_time").datetimepicker({dateFormat: "yy-mm-dd", timeFormat: "hh:mm:ss"});
    });
</script>

<h1>Find me the times!</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/find_times_post/" method="post">{% csrf_token %}
    {{find_times_form.as_p}}
    <input type="submit" value="Submit"/>
</form>

{% if test_results %} {{ test_results }} {% endif %}
