{% extends "base.html" %}

{% block header_includes %}

<script> 
	function pad2(number) {
			return (number < 10 ? '0' : '') + number
		}
</script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/my_css.css" />

{% endblock %}

{% block body %}

{% if success == 1 %}
<div>Interviews successfully scheduled.</div>
{% endif %}
<div id="main-form">
<form id="scheduler_form">{% csrf_token %}
  <div class="form-sec candidate-name">
    <h3>Candidate Name</h3>
    <input type="text" name="candidate_name" class="candidate-name">
  </div>

  <div class="form-sec template">
    <h3>Interview Template</h3>
    <select name='interview_template' data-placeholder=" " multiple class="chosen-select">
      <option></option>
      {% for template in interview_templates %}
        <option value="{{ template.id }}">{{ template }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-sec date">
    <h3>Date</h3>
    <input autocomplete="off" type="text" name="date" id="date-picker">
  </div>

  <div class="form-sec start">
    <h3>Start Time</h3>
    <select name='start_time' data-placeholder=" " multiple class="chosen-select">
      <option></option>
      {% for ti in times %}
        <option value="{{ ti.time_value }}">{{ ti.display_string }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-sec end">
    <h3>End Time</h3>
    <select name='end_time' data-placeholder=" " multiple class="chosen-select">
      <option></option>
      {% for ti in times %}
        <option value="{{ ti.time_value }}">{{ ti.display_string }}</option>
      {% endfor %}
    </select>
  </div>
    <input type="submit" value="Submit"/>
</form>
</div>

<div id="result">
<ul class="schedule-list">
  <li class="schedule-item template">
    <h4 class="room"></h4>
    <div class="slots"></div>
    <form method="POST" action="/interview_post/">
      <div class="cta">
        <select name='recruiter_id' multiple data-placeholder=" " class="recruiter-select">
          <option></option>
          {% for recruiter in recruiters %}
            <option value="{{ recruiter.id }}">{{ recruiter.display_name }}</option>
          {% endfor %}
        </select>
        <input type="hidden" id="interview_template_input" name="interview_template_name">
        {% csrf_token %}
        <button type="submit">Schedule</button>
      </div>
    </form>
  </li>
</ul>
</div>
{% endblock %}

