{% extends "base.html" %}

{% block header_includes %}

<script> 
	function pad2(number) {
			return (number < 10 ? '0' : '') + number
		}
</script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/my_css.css" />

{% endblock %}

{% block body %}

<div id="main-form">
<form action="/new_scheduler_post/" method="post">{% csrf_token %}
  <div class="form-sec candidate-name">
    <h3>Candidate Name</h3>
    <input type="text" name="candidiate_name" class="candidate-name">
  </div>

  <div class="form-sec type">
    <h3>Interview Type</h3>
    <select name='interview_type' multiple class="chosen-select">
      <option></option>
      {% for itype in itypes %}
        <option value={{ itype.interview_type }}>{{ itype.display_string }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-sec req">
    <h3>Requisition</h3>
    <select name='requisition' data-placeholder=" " multiple class="chosen-select">
      <option></option>
      {% for req in reqs %}
        <option value={{ req }}>{{ req }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-sec date">
    <h3>Date</h3>
    <input autocomplete="off" type="text" name="date" id="date-picker">
  </div>

  <div class="form-sec start">
    <h3>Start Time</h3>
    <select name='start_time' data-placeholder=" " multiple class="chosen-select">
      <option></option>
      {% for ti in times %}
        <option value={{ ti.time_value }}>{{ ti.display_string }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-sec end">
    <h3>End Time</h3>
    <select name='end_time' data-placeholder=" " multiple class="chosen-select">
      <option></option>
      {% for ti in times %}
        <option value={{ ti.time_value }}>{{ ti.display_string }}</option>
      {% endfor %}
    </select>
  </div>
    <input type="submit" value="Submit"/>
</form>
</div>
{% endblock %}

