{% extends "base.html" %}

{% block header_includes %}

<script> 
	function pad2(number) {
			return (number < 10 ? '0' : '') + number
		}
</script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

{% endblock %}

{% block body %}
<h1>Create an Interview Schedule</h1>
<h2>Warning: About to Do Science!</h2>

<div id="main-form">
<form action="/scheduler_post/" method="post">{% csrf_token %}
    <em>Type</em>
    <select data-placeholder="Pick a Interview Type" class="chosen-select" style="width:350px;">
    </select>
  </div>

  <div>
    <em>Requisition</em>
    <select data-placeholder="Pick a Requisition" class="chosen-select" style="width:350px;">
      <option></option>
      {% for req in reqs %}
        <option value={{ req }}>{{ req }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <em>Start Time</em>
    <select data-placeholder="Add a Start Time" class="chosen-select" style="width:350px;" tabindex="2">
    </select>
  </div>

  <div>
    <em>End Time</em>
    <select data-placeholder="Add a End Time" class="chosen-select" style="width:350px;" tabindex="2">
    </select>
  </div>
    
    {{requisition_formset.as_p}}
    {{scheduler_form.as_p}}
    <input type="submit" value="Submit"/>
</form>
</div>
{% endblock %}

