{% extends "base.html" %}

{% block header_includes %}
<script type="text/javascript">
    $(function() {
        $("#id_break_start_time").datetimepicker({dateFormat: "yy-mm-dd", timeFormat: "hh:mm:ss"});
    });
    $(function() {
        $("#id_break_end_time").datetimepicker({dateFormat: "yy-mm-dd", timeFormat: "hh:mm:ss"});
    });
</script>
{% endblock %}

{% block body %}
<h1>Warning! About to do science!</h1>

<div id="main-form">
<form action="/scheduler_post/" method="post">{% csrf_token %}
    {{scheduler_form.as_p}}
    <input type="submit" value="Submit"/>
</form>
</div>

{% if schedules %}
<h2>Possible Schedules</h2>
<ul>
    {% for schedule in schedules %}
    <li>
    <table>
        {% for interview_slot in schedule %}
        <tr>
            <td class="schedule-interview-name">{{interview_slot.interviewer}}</td>
            <td class="schedule-interview-time">{{interview_slot.start_time}}</td>
            <td class="schedule-interview-time">{{interview_slot.end_time}}</td>
        </tr>
        {% endfor %}
    </table>
        
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
