{% extends "base.html" %}

{% block header_includes %}

<script> 
	function pad2(number) {
			return (number < 10 ? '0' : '') + number
		}
</script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

{% endblock %}

{% block body %}
<h1>Create an Interview Schedule</h1>
<h2>Warning: About to Do Science!</h2>

<div id="main-form">
<form action="/scheduler_post/" method="post">{% csrf_token %}
    {{requisition_formset.as_p}}
    {{scheduler_form.as_p}}
    <input type="submit" value="Submit"/>
</form>
</div>

{% if schedules %}
<h2>Possible Schedules</h2>

<ul class="possible_sched">
    {% for schedule in schedules %}
    <li>
    <table class="possible_sched">
        {% if schedule.room %}
        <tr>
            <td class="room-interview-time">{{schedule.room.start_time.hour}}:{{schedule.room.start_time.minute}} to {{schedule.room.end_time.hour}}:{{schedule.room.end_time.minute}}</td>
            <td class="room-interview-name">{{schedule.room.interviewer}}</td>
            <th class="schedule-preference">Preferences</th>
            <th class="schedule-preference">Buffered</th>
            <th class="schedule-preference">Interviews/Week</th>
        </tr>
        {% endif %}
        {% for interview_slot in schedule.interview_slots %}
        <tr>
            <td class="schedule-interview-time">{{interview_slot.display_time}}</td>
            <td class="schedule-interview-name">{{interview_slot.interviewer}}</td>
            <td class="schedule-interview-pref">
                <span class="ui-icon {%if interview_slot.is_inside_time_preference%} ui-icon-check {%else%} ui-icon-minus {%endif%}"></span>
            </td>
            <td class="schedule-interview-pref">
                <span class="ui-icon {%if interview_slot.gets_buffer%} ui-icon-check {%else%} ui-icon-minus {%endif%}"></span>
            </td>
            <td class="schedule-interview-pref">{{interview_slot.number_of_interviews}}</td>
        </tr>
        {% endfor %}
    </table>

    </li>
    {% endfor %}
</ul>


{% endif %}

{% endblock %}
