{% extends "base.html" %}
{% load apptags %}

{% block header_includes %}


<link rel="stylesheet" href="/static/css/my_css.css" />

{% endblock %}

{% block extra_header %}
<div class="tracker-extra-header">
  <div style="text-align:center">
      <div style="display:inline;margin-right:10px;"><a href="/tracker/?start_date={{ last_week_start }}"><< Previous Week</a></div>
      <input style="display:inline;" id="interviewerSearchInput" placeholder="Search Interviewer or Candidate">
      <input style="display:inline;" id="groupSearchInput" placeholder="Search Groups">
      <div style="display:inline;margin-left:10px;"><a href="/tracker/?start_date={{ next_week_start}}">Next Week >></a></div>
  </div>
</div>

<div style="margin:50px"></div>
{% endblock %}

{% block body %}

  <div class="push-down">

    <table border="1" class="tracker-header">
      <tr>
        <th class="tracker-req"></th>
        {% for day, date in week_info %}
          <th class="tracker-day">{{ day }} {{ date }}</th>
        <td class="tracker-person" value="{{ interviewer_info.num_interviews }}">{{person}}</td>
        {% for i in 'xxxxx' %}
          {% resolve interviewer_info.interviews forloop.counter0 as interview%}
          <td class="tracker-int" value="{{ interview.num_interviews }}">
              {% if interview %}
                <div class="hovercard">
                    {% for interview_info in interview.interviews %}
                       <form action="/modify_interview/" method="post">{% csrf_token %}
                        <p>{{ interview_info.interview_type }} - {{ interview_info.candidate_name }} <br/>
                          Room {{ interview_info.room }}: {{ interview_info.start_time }} - {{ interview_info.end_time }} <br/>
                        <input type="hidden" value="{{ interview_info.interview_slot_id }}" name="interview_slot_id">
                        <input type="hidden" value="{{ interview_info.interview_id }}" name="interview_id">
                        Reassign to: <select name="interviewer_id" class="interviewer_id">
                            <option></option>
                        {% for i in all_interviewers %}
                            <option value="{{ i.id }}">{{ i.display_name }}</option>
                        {% endfor %}
                        </select><br/>
                        <input class="hovercard-delete" type="submit" name="hovercard-submit" value="Remove">
                        <input class="hovercard-submit" type="submit" name="hovercard-submit" value="Modify">
                        </p>
                       </form>
                    {% endfor %}
                </div>
                {{ interview.num_interviews }}
              {% endif %}
            </td>
        {% endfor %}
      </tr>
  </table>
    <ul id="tracker-ul">
    {% for cat, cat_info in tracker_dict.items %}
      <li><div class='tracker-interview-group'><strong>{{ cat|title }}</strong></div>
      <table border="1" class="tracker-container" color_group="{{ cat_info.color_group }}">
      {% for person, interviewer_info in cat_info.interviewer.items %}
        <tr>
          <td class="tracker-person" value="{{ interviewer_info.num_interviews }}">{{person}}</td>
          <td class="tracker-int" value="{{ interviewer_info.interviews.0.num_interviews }}">
              {% if interviewer_info.interviews.0 %}
                <div class="hovercard">
                    {% for interview_info in interviewer_info.interviews.0.interviews %}
                       <form action="/modify_interview/" method="post">{% csrf_token %}
                        <p>{{ interview_info.interview_type }} - {{ interview_info.candidate_name }} <br/>
                          Room {{ interview_info.room }}: {{ interview_info.start_time }} - {{ interview_info.end_time }} <br/>
                        <input type="hidden" value="{{ interview_info.interview_slot_id }}" name="interview_slot_id">
                        <input type="hidden" value="{{ interview_info.interview_id }}" name="interview_id">
                        Reassign to: <select name="interviewer_id" class="interviewer_id">
                            <option></option>
                        {% for i in all_interviewers %}
                            <option value="{{ i.id }}">{{ i.display_name }}</option>
                        {% endfor %}
                        </select><br/>
                        <input class="hovercard-delete" type="submit" name="hovercard-submit" value="Remove">
                        <input class="hovercard-submit" type="submit" name="hovercard-submit" value="Modify">
                        </p>
                       </form>
                    {% endfor %}
                </div>
                {{ interviewer_info.interviews.0.num_interviews }}
              {% endif %}
          </td>
          <td class="tracker-int" value="{{ interviewer_info.interviews.1.num_interviews }}">
              {% if interviewer_info.interviews.1 %}
                <div class="hovercard">
                    {% for interview_info in interviewer_info.interviews.1.interviews %}
                       <form action="/modify_interview/" method="post">{% csrf_token %}
                        <p>{{ interview_info.interview_type }} - {{ interview_info.candidate_name }} <br/>
                          Room {{ interview_info.room }}: {{ interview_info.start_time }} - {{ interview_info.end_time }} <br/>
                        <input type="hidden" value="{{ interview_info.interview_slot_id }}" name="interview_slot_id">
                        <input type="hidden" value="{{ interview_info.interview_id }}" name="interview_id">
                        Reassign to: <select name="interviewer_id" class="interviewer_id">
                            <option></option>
                        {% for i in all_interviewers %}
                            <option value="{{ i.id }}">{{ i.display_name }}</option>
                        {% endfor %}
                        </select><br/>
                        <input class="hovercard-delete" type="submit" name="hovercard-submit" value="Remove">
                        <input class="hovercard-submit" type="submit" name="hovercard-submit" value="Modify">
                        </p>
                       </form>
                    {% endfor %}
                </div>
                {{ interviewer_info.interviews.1.num_interviews }}
              {% endif %}
          </td>
          <td class="tracker-int" value="{{ interviewer_info.interviews.2.num_interviews }}">
              {% if interviewer_info.interviews.2 %}
                <div class="hovercard">
                    {% for interview_info in interviewer_info.interviews.2.interviews %}
                       <form action="/modify_interview/" method="post">{% csrf_token %}
                        <p>{{ interview_info.interview_type }} - {{ interview_info.candidate_name }} <br/>
                          Room {{ interview_info.room }}: {{ interview_info.start_time }} - {{ interview_info.end_time }} <br/>
                        <input type="hidden" value="{{ interview_info.interview_slot_id }}" name="interview_slot_id">
                        <input type="hidden" value="{{ interview_info.interview_id }}" name="interview_id">
                        Reassign to: <select name="interviewer_id" class="interviewer_id">
                            <option></option>
                        {% for i in all_interviewers %}
                            <option value="{{ i.id }}">{{ i.display_name }}</option>
                        {% endfor %}
                        </select><br/>
                        <input class="hovercard-delete" type="submit" name="hovercard-submit" value="Remove">
                        <input class="hovercard-submit" type="submit" name="hovercard-submit" value="Modify">
                        </p>
                       </form>
                    {% endfor %}
                </div>
                {{ interviewer_info.interviews.2.num_interviews }}
              {% endif %}
          </td>
          <td class="tracker-int" value="{{ interviewer_info.interviews.3.num_interviews }}">
              {% if interviewer_info.interviews.3 %}
                <div class="hovercard">
                    {% for interview_info in interviewer_info.interviews.3.interviews %}
                       <form action="/modify_interview/" method="post">{% csrf_token %}
                        <p>{{ interview_info.interview_type }} - {{ interview_info.candidate_name }} <br/>
                          Room {{ interview_info.room }}: {{ interview_info.start_time }} - {{ interview_info.end_time }} <br/>
                        <input type="hidden" value="{{ interview_info.interview_slot_id }}" name="interview_slot_id">
                        <input type="hidden" value="{{ interview_info.interview_id }}" name="interview_id">
                        Reassign to: <select name="interviewer_id" class="interviewer_id">
                            <option></option>
                        {% for i in all_interviewers %}
                            <option value="{{ i.id }}">{{ i.display_name }}</option>
                        {% endfor %}
                        </select><br/>
                        <input class="hovercard-delete" type="submit" name="hovercard-submit" value="Remove">
                        <input class="hovercard-submit" type="submit" name="hovercard-submit" value="Modify">
                        </p>
                       </form>
                    {% endfor %}
                </div>
                {{ interviewer_info.interviews.3.num_interviews }}
              {% endif %}
          </td>
          <td class="tracker-int" value="{{ interviewer_info.interviews.4.num_interviews }}">
              {% if interviewer_info.interviews.4 %}
                <div class="hovercard">
                    {% for interview_info in interviewer_info.interviews.4.interviews %}
                       <form action="/modify_interview/" method="post">{% csrf_token %}
                        <p>{{ interview_info.interview_type }} - {{ interview_info.candidate_name }} <br/>
                          Room {{ interview_info.room }}: {{ interview_info.start_time }} - {{ interview_info.end_time }} <br/>
                        <input type="hidden" value="{{ interview_info.interview_slot_id }}" name="interview_slot_id">
                        <input type="hidden" value="{{ interview_info.interview_id }}" name="interview_id">
                        Reassign to: <select name="interviewer_id" class="interviewer_id">
                            <option></option>
                        {% for i in all_interviewers %}
                            <option value="{{ i.id }}">{{ i.display_name }}</option>
                        {% endfor %}
                        </select><br/>
                        <input class="hovercard-delete" type="submit" name="hovercard-submit" value="Remove">
                        <input class="hovercard-submit" type="submit" name="hovercard-submit" value="Modify">
                        </p>
                       </form>
                    {% endfor %}
                </div>
                {{ interviewer_info.interviews.4.num_interviews }}
              {% endif %}
          </td>
        </tr>
      {% endfor %} 
      </table></li>
    {% endfor %}</ul>

{% endblock %}
