{% extends "base.html" %}

{% block header_includes %}


<link rel="stylesheet" href="/static/css/my_css.css" />

{% endblock %}

{% block body %}

<div style="float:left;"><a href="/tracker/?start_date={{ last_week_start }}"><< Previous Week</a></div><div style="float:right;"><a href="/tracker/?start_date={{ next_week_start}}">Next Week >></a></div>

<div style="text-align: center;">
<input id="interviewerSearchInput" placeholder="Search Interviewer or Candidate">
<input id="groupSearchInput" placeholder="Search Groups">
</div>

<br/><br/>

<table border="1" class="tracker-header">

  <tr>
    <th class="tracker-req"></th>
    {% for day, date in week_info %}
      <th class="tracker-day">{{ day }}<br/>{{ date }}</th>
    {% endfor %}
  </tr>
</table>
  <ul id="tracker-ul">
  {% for cat, cat_info in tracker_dict.items %}
    <li><div class='tracker-interview-group'><strong>{{ cat|title }}</strong></div>
    <table border="1" class="tracker-container" color_group="{{ cat_info.color_group }}">
    {% for person, interviewer_info in cat_info.interviewer.items %}
      <tr>
        <td class="tracker-person" value="{{ interviewer_info.num_interviews }}">{{person}}</td>
        <td class="tracker-int" value="{{ interviewer_info.interviews.0.num_interviews }}">
            {% if interviewer_info.interviews.0 %}
              <div class="hovercard">
                  {% for interview_info in interviewer_info.interviews.0.interviews %}
                     <p>{{ interview_info.interview_type }} - {{ interview_info.candidate_name }}<br/>
                        Room {{ interview_info.room }}: {{ interview_info.start_time }} - {{ interview_info.end_time }}
                     </p>
                  {% endfor %}
              </div>
              {{ interviewer_info.interviews.0.num_interviews }}
            {% endif %}
        </td>
        <td class="tracker-int" value="{{ interviewer_info.interviews.1.num_interviews }}">
            {% if interviewer_info.interviews.1 %}
              <div class="hovercard">
                  {% for interview_info in interviewer_info.interviews.1.interviews %}
                     <p>{{ interview_info.candidate_name }} ({{ interview_info.interview_type }})<br/>
                        Room {{ interview_info.room }} from {{ interview_info.start_time }} to {{ interview_info.end_time }}
                     </p>
                  {% endfor %}
              </div>
              {{ interviewer_info.interviews.1.num_interviews }}
            {% endif %}
        </td>
        <td class="tracker-int" value="{{ interviewer_info.interviews.2.num_interviews }}">
            {% if interviewer_info.interviews.2 %}
              <div class="hovercard">
                  {% for interview_info in interviewer_info.interviews.2.interviews %}
                     <p>{{ interview_info.candidate_name }} ({{ interview_info.interview_type }})<br/>
                        Room {{ interview_info.room }} from {{ interview_info.start_time }} to {{ interview_info.end_time }}
                     </p>
                  {% endfor %}
              </div>
              {{ interviewer_info.interviews.2.num_interviews }}
            {% endif %}
        </td>
        <td class="tracker-int" value="{{ interviewer_info.interviews.3.num_interviews }}">
            {% if interviewer_info.interviews.3 %}
              <div class="hovercard">
                  {% for interview_info in interviewer_info.interviews.3.interviews %}
                     <p>{{ interview_info.candidate_name }} ({{ interview_info.interview_type }})<br/>
                        Room {{ interview_info.room }} from {{ interview_info.start_time }} to {{ interview_info.end_time }}
                     </p>
                  {% endfor %}
              </div>
              {{ interviewer_info.interviews.3.num_interviews }}
            {% endif %}
        </td>
        <td class="tracker-int" value="{{ interviewer_info.interviews.4.num_interviews }}">
            {% if interviewer_info.interviews.4 %}
              <div class="hovercard">
                  {% for interview_info in interviewer_info.interviews.4.interviews %}
                     <form action="/modify_interview/" method="post">{% csrf_token %}
                      <p>{{ interview_info.interview_type }} - {{ interview_info.candidate_name }} <br/>
                        Room {{ interview_info.room }}: {{ interview_info.start_time }} - {{ interview_info.end_time }} <br/>
                      <input type="hidden" value="{{ interview_info.interview_slot_id }}" name="interview_slot_id">
                      <input type="hidden" value="{{ interview_info.interview_id }}" name="interview_id">
                      <input class="hovercard-delete" type="submit" name="hovercard-submit" value="Remove">
                      <input class="hovercard-submit" type="submit" name="hovercard-submit" value="Modify">
                      <select name="interviewer_id" class="interviwer_id">
                          <option></option>
                      {% for i in all_interviewers %}
                          <option value="{{ i.id }}">{{ i.display_name }}</option>
                      {% endfor %}
                      </select>
                      </p>
                     </form>
                  {% endfor %}
              </div>
              {{ interviewer_info.interviews.4.num_interviews }}
            {% endif %}
        </td>
      </tr>
    {% endfor %} 
    </table></li>
  {% endfor %}</ul>

{% endblock %}
